<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Internship Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h2>Internship & Extracurricular Tracker</h2>
        <div>
            <a href="/">Home</a>
           {% if session.get('user_id') %}
               <a href="/dashboard">Dashboard</a>
               <a href="/add">Add Application</a>
               <a href="/change_password">Change Password</a>
               <a href="/logout">Logout</a>
           {% else %}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            {% endif %}
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>